@import "tailwindcss";

:root {
  --main-color: #4b75f2; /* blue-500 */
  --bg-color-light: #c5d0d9; /* slate-300 */
  --bg-color-dark: #121212; /* neutral-900 */
  --text-color-dark: #0d0d0d; /* neutral-950 */
  --text-color-light: #ececec; /* gray-200 */
}

@font-face {
  font-family: "Highrise";
  src: url("/fonts/HighriseFontCondensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  @media (min-width: 1920px) {
    .no-image {
      background-image: none;
    }

    .bg-gradient {
      background: radial-gradient(
        circle at center,
        #0a0f1d 0%,
        #020617 35%,
        #000 90%
      );
    }
  }
}

.bg-light {
  background-color: var(--bg-color-light);
}

.bg-dark {
  background-color: var(--bg-color-dark);
}

.bg-blue {
  background-color: var(--main-color);
}

.text-dark {
  color: var(--text-color-dark);
}

.text-light {
  color: var(--text-color-light);
}

.color-blue {
  color: var(--main-color);
}

.custom-gradient {
  background: linear-gradient(180deg, #000000 0%, #0b0f19 50%, #102048 100%);
}

.link:hover {
  color: var(--main-color);
  transition: 300ms;
  cursor: pointer;
}

.bg-glow {
  background: url("/light.png") no-repeat center bottom;
  background-size: cover;
}

.bg-cube {
  background: url("/cube.png") center;
  background-size: cover;
  overflow: hidden;
}

.info-numeration {
  font-family: "Highrise";
  line-height: 100%;
}
